@model IEnumerable<OnlineStore.Models.Category>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Онлайн магазин</title>
</head>
<body>
    <h3>Категории</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Наименование</td>
        </tr>
        @foreach (var category in Model)
            {
        <tr>
            <td>@category.Id</td>
            <td>@category.Title</td>
        </tr>
        }
    </table>
</body>
</html>